extends utilities

append stylesheets
  link(href='stylesheets/login.css' rel='stylesheet')
append scripts
  script(src='javascripts/login.js')

body 
  #contentContainer
    .errorContainer
    #loginContainer  
      form#loginForm(method='POST')
        img#schoolIconImage(src="/images/school_icon.png" alt="icon of school")
        p#loginLabel Account Login
        div.form-group
          div.form-floating
            input.form-control#loginUsername(type='text' placeholder='Email' name='email')
            label(for='loginEmail') Email
        div.form-group
          div.form-floating.input-group
            input.form-control#loginPassword(type='password' placeholder='Password' name='password')
            label(for='loginPassword') Password
            div.input-group-append
              span.input-group-text#passwordToggle test
        button.btn.btn-warning#loginSubmit(type='button' onclick="login()") Login


          
