extends utilities

append stylesheets
  link(href='stylesheets/login.css' rel='stylesheet')
append scripts
  script(type="module" src='javascripts/login.js')

block body 
  #contentContainer
    .errorContainer
    #loginContainer  
      form#loginForm(method='POST')
        img#schoolIconImage(src="/images/school_icon.png" alt="icon of school")
        p#loginLabel Account Login
        div.form-group
          div.form-floating
            input.form-control#loginUsername(type='text' placeholder='Email' name='email')
            label(for='loginEmail') Email
        div.form-group
          div.form-floating.input-group
            input.form-control#loginPassword(type='password' placeholder='Password' name='password')
            label(for='loginPassword') Password
            div.input-group-append
              span.input-group-text#passwordToggle test
        button.btn.btn-warning#loginSubmit(type='button') Login
        button.btn.btn-warning#registerButton(type='button' data-toggle= "modal" data-target="#registerModal" onclick="openRegisterModal()") Register

  .modal.fade#registerModal(tabindex="1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true")
    .modal-dialog.modal-lg(role="document")
      .modal-content
        .modal-header
          .modal-title.h1#registerModalLabel Register Account
        .modal-body
          form#registerForm(method="POST")
            .row
              .col-md-6.mb-3
                label.form-label(for="fnameInput") First Name
                input.form-control#fnameInput(type="text")
              .col-md-6.mb-3
                label.form-label(for="snameInput") Surname
                input.form-control#snameInput(type="text")
            .row
              .col-md-4.mb-3
                label.form-label(for="emailInput") Email
                input.form-control#emailInput(type="text")
              .col-md-4.mb-3
                label.form-label(for="phoneInput") Telephone
                input.form-control#phoneInput(type="text")
              .col-md-4.mb-3
                label.form-label(for="dobInput") Date of Birth
                input.form-control#dobInput(type="text")
            .row
              .col-md-6.mb-3
                label.form-label(for="postcodeInput") Postcode
                input.form-control#postcodeInput(type="text")
              .col-md-6.mb-3
                label.form-label(for="housenoInput") House Number
                input.form-control#housenoInput(type="text")
            .row
              .col-12.mb-3
                label.form-label(for="passwordInput") Password
                input.form-control#passwordInput(type="password")
            .row
              .col-12
                label.form-label(for="passwordConfInput") Confirm Password
                input.form-control#passwordConfInput(type="password")
        .modal-footer
          button#closeRegisterModalButton.btn.btn-secondary(type="button" data-db-dismiss="modal" onclick="closeRegisterModal()") Close
          button#modalRegisterButton.btn.btn-warning(type="button" onclick="register()") Register


          
